/dev/video0               0664   system     camera
/dev/video1               0664   system     camera
/dev/video2               0664   system     camera
/dev/video3               0664   system     camera
/dev/video14              0660   system     system
/dev/video21              0660   system     system
/dev/s5p-jpeg             0664   system     camera
/dev/pmem_gpu1            0660   system     graphics
/dev/s3c-jpg              0660   system     camera
/dev/s3c-mem              0660   system     system
/dev/s3c-mfc              0660   media      media
/dev/s5p-rp               0666   system     audio
/dev/s3c2410_serial3      0660   radio      radio
/dev/qemu_trace           0666   system     system
/dev/input/event0	  0666	 system     system
/dev/input/event1	  0666	 system     system
# for GPS
/dev/s3c2410_serial1      0600   gps        gps
